In [1]:
#Import Dependencies
import pandas as pd

In [8]:
# Import Kaggle csv's
kaggle_metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
ratings = pd.read_csv('ratings.csv')

In [7]:
kaggle_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [9]:
kaggle_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
41071,False,NaN,0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 107...",NaN,81420,tt2112127,en,Christmas Magic,Carrie Bishop (Booth) lives for her successful...,...,2011-12-18,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Heaven can wait as a reluctant angel takes on ...,Christmas Magic,False,6.9,10.0
18522,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,26118,tt1583937,en,Dylan Moran: What It Is,"Unpredictable, bizarre, elegiac, often cruel b...",...,2009-11-23,0.0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Joyous. In a bitter sort of way,Dylan Moran: What It Is,False,7.6,11.0
20712,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,14607,tt0893406,en,Loaded,"A young, wealthy club kid's life spirals downw...",...,2008-03-25,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Loaded,False,4.0,14.0
16972,False,NaN,7400000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,62215,tt1527186,da,Melancholia,Two sisters find their already strained relati...,...,2011-05-26,21817298.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Enjoy it while it lasts,Melancholia,False,7.0,915.0
33129,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,65092,tt0064897,sv,Riten,A judge in an unnamed country interviews three...,...,1969-03-25,0.0,72.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,The Rite,False,6.9,11.0

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556